@import "../../styles/mixins";

.container {
  @include flex-center;
  flex-direction: column;
  row-gap: 5rem;
  width: 1200px;
  padding: 0.625rem;
  margin: 0 auto;
  @media (min-width: 479px) {
    padding: 1.25rem;
  }
}
