@import "../../styles/mixins";

.container {
  @include flex-center;
  flex-direction: column;
  row-gap: 5rem;
  width: 1200px;
  padding: 3.75rem;
  margin: 0 auto;
  @media (max-width: 600px) {
    padding: 2rem;
    row-gap: 3rem;
  }
  @media (max-width: 479px) {
    padding: 3.75rem 0.625rem;
  }
}
