.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.questionInfo {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  @media (max-width: 992px) {
    row-gap: 1rem;
  }
}

.question {
  flex-grow: 1;
  font-weight: var(--fw-medium);
  font-size: clamp(1.25rem, 5vw, 1.75rem);
  color: var(--color-text);
}

.answers {
  display: flex;
}

.button {
  grid-column: 2 / -1;
}
