:global {
  body[data-theme="light"] {
    --color-option: var(--grey-900);
    --bg-option: var(--white);
  }
  body[data-theme="dark"] {
    --color-option: var(--white);
    --bg-option: var(--grey-700);
  }
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1.25rem;
  font-family: inherit;
  font-weight: var(--fw-medium);
  color: var(--color-option);
  font-size: clamp(1.125rem, 5vw, 1.75rem);
  border: 3px solid transparent;
  border-radius: 1.25rem;
  background-color: var(--bg-option);
  box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
  text-align: left;

  div:first-child {
    flex-shrink: 0;
  }

  @media (max-width: 767px) {
    padding: 0.75rem;
    column-gap: 1rem;
  }
}
