:global {
  body[data-theme="light"] {
    --bg-progress-bar: var(--white);
  }
  body[data-theme="dark"] {
    --bg-progress-bar: var(--grey-700);
  }
}

.quizContent {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  &Question {
    font-weight: var(--fw-medium);
    font-size: clamp(1.25rem, 5vw, 2.125rem);
    color: var(--color-text);
    flex-grow: 1;
  }
  &Progress {
    border-radius: 0.75rem;
    border: 3px solid var(--bg-progress-bar);
    width: 100%;
    height: 1rem;
    &::-webkit-progress-bar {
      background-color: var(--bg-progress-bar);
      border-radius: 0.75rem;
    }
    &::-webkit-progress-value {
      background-color: var(--purple-400);
      border-radius: 0.75rem;
    }
  }
  @media (max-width: 992px) {
    row-gap: 1rem;
  }
}
