@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "../src/styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  //_Font:
  --f-family: "Rubik", sans-serif;
  --f-size: 16px;
  --fw-light: 100;
  --fw-normal: 400;
  --fw-medium: 500;

  //_Color:
  --grey-100: #f4f6fa;
  --grey-200: #abc1e1;
  --grey-300: #bfcfe8;
  --grey-400: #626c7f;
  --grey-700: #3b4d66;
  --grey-900: #313e51;

  --orange-100: #fff1e9;
  --blue-100: #ebf0ff;
  --purple-100: #f6e7ff;
  --purple-300: #b64afa;
  --purple-400: #a729f5;
  --green-100: #e0fdef;
  --green-400: #26d782;
  --red-400: #ee5454;
  --white: #ffffff;
}

#root {
  @include flex-center;
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--f-family);

  @media (max-width: 992px) {
    background-size: auto;
  }
}

body[data-theme="light"] {
  --color-info-text: var(--grey-900);
  --color-text: var(--grey-900);
  --bg-elements: var(--white);

  background-image: url("../public/assets/images/pattern-background-desktop-light.svg");
  background-color: var(--grey-100);

  @media (max-width: 992px) {
    background-image: url("../public/assets/images/pattern-background-tablet-light.svg");
  }

  @media (max-width: 479px) {
    background-image: url("../public/assets/images/pattern-background-mobile-light.svg");
  }
}

body[data-theme="dark"] {
  --color-text: var(--white);
  --color-info-text: var(--grey-200);
  --bg-elements: var(--grey-700);

  background-image: url("../public/assets/images/pattern-background-desktop-dark.svg");
  background-color: var(--grey-900);

  @media (max-width: 992px) {
    background-image: url("../public/assets/images/pattern-background-tablet-dark.svg");
  }

  @media (max-width: 479px) {
    background-image: url("../public/assets/images/pattern-background-mobile-dark.svg");
  }
}

h2 {
  display: flex;
  flex-direction: column;
  font-size: clamp(2.5rem, 6vw, 4rem);
  color: var(--color-text);
  span:first-child {
    font-weight: var(--fw-light);
  }
}

h3 {
  font-weight: var(--fw-medium);
  font-size: clamp(1.25rem, 5vw, 2.125rem);
  color: var(--color-text);
}

progress {
  border-radius: 0.75rem;
  border: 3px solid var(--bg-elements);
  width: 100%;
  height: 1rem;

  &::-webkit-progress-bar {
    background-color: var(--bg-elements);
    border-radius: 0.75rem;
  }

  &::-webkit-progress-value {
    background-color: var(--purple-400);
    border-radius: 0.75rem;
  }
}

.textInfo {
  font-size: 0.875rem;
  color: var(--color-info-text);
  font-style: italic;
  @media (min-width: 600px) {
    font-size: 1.25rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  &Item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: var(--fw-medium);
    font-size: clamp(1.125rem, 5vw, 1.75rem);
    color: var(--color-text);
    text-align: left;
    padding: 1.25rem;
    column-gap: 2rem;
    border: 3px solid transparent;
    border-radius: 1.25rem;
    background-color: var(--bg-elements);
    box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);

    div:first-child {
      flex-shrink: 0;
    }
  }

  @media (max-width: 767px) {
    row-gap: 1rem;
    &Item {
      padding: 0.75rem;
      column-gap: 1rem;
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: var(--grey-100);
  color: var(--grey-400);
  transition: all 0.3s;

  @media (max-width: 479px) {
    width: 2.5rem;
    height: 2.5rem;
    img {
      width: 60%;
    }
  }
}

.question {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  h3 {
    flex-grow: 1;
  }
  @media (max-width: 992px) {
    row-gap: 1rem;
  }
}

#html {
  background-color: var(--orange-100);
}
#css {
  background-color: var(--green-100);
}
#javascript {
  background-color: var(--blue-100);
}
#accessibility {
  background-color: var(--purple-100);
}
