@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "../src/styles/mixins";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  //_Font:
  --f-family: "Rubik", sans-serif;
  --f-size: 16px;
  --fw-light: 100;
  --fw-normal: 400;
  --fw-medium: 500;

  //_Color:
  --grey-100: #f4f6fa;
  --grey-200: #abc1e1;
  --grey-300: #bfcfe8;
  --grey-400: #626c7f;
  --grey-700: #3b4d66;
  --grey-900: #313e51;

  --orange-100: #fff1e9;
  --blue-100: #ebf0ff;
  --purple-100: #f6e7ff;
  --purple-400: #a729f5;
  --green-100: #e0fdef;
  --green-400: #26d782;
  --red-400: #ee5454;
  --white: #ffffff;
}

#root {
  @include flex-center;
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--f-family);

  @media (max-width: 992px) {
    background-size: auto;
  }
}

body[data-theme="light"] {
  --color-info-text: var(--grey-900);
  --color-text: var(--grey-900);

  background-image: url("../src/assets/images/pattern-background-desktop-light.svg");
  background-color: var(--white);

  @media (max-width: 992px) {
    background-image: url("../src/assets/images/pattern-background-tablet-light.svg");
  }

  @media (max-width: 479px) {
    background-image: url("../src/assets/images/pattern-background-mobile-light.svg");
  }
}

body[data-theme="dark"] {
  --color-text: var(--white);
  --color-info-text: var(--grey-300);

  background-image: url("../src/assets/images/pattern-background-desktop-dark.svg");
  background-color: var(--grey-900);

  @media (max-width: 992px) {
    background-image: url("../src/assets/images/pattern-background-tablet-dark.svg");
  }

  @media (max-width: 479px) {
    background-image: url("../src/assets/images/pattern-background-mobile-dark.svg");
  }
}

ul {
  list-style: none;
  padding: 0;
}

.textInfo {
  font-size: 0.875rem;
  color: var(--color-info-text);
  font-style: italic;
  @media (min-width: 600px) {
    font-size: 1.25rem;
  }
}
